@import 'variables';body {
  background-color: $bg-color;
}
/*Nested property*/
nav {
  background-color: transparent;

  ul {
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: center;
    padding: 20px;
  }
  li {
    color: $color;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  li:hover {
    color: rgb(255, 157, 0);
  }
}
// maths function
p {
  font-size: $base-font;
}
@debug 10 + 2;


